<launch>
  <node pkg="object_detector" type="object_detection.py" name="object_detection" output="screen">
    <rosparam file="$(find object_detector)/config/object_detection.yaml" command="load"/>
  </node>

  <node pkg="object_detector" type="object_projection.py" name="object_projection" output="screen">
    <rosparam file="$(find object_detector)/config/object_projection.yaml" command="load"/>
  </node>

  <node pkg="object_detector" type="traffic_detection.py" name="traffic_detection" output="screen" >
    <rosparam command="load" file="$(find object_detector)/config/traffic_detection.yaml"/>
  </node>

</launch>
