<launch>
    <!-- run.py
    <node pkg="lane_detection" type="run.py" name="lane_detector_node" output="screen">
        <rosparam command="load" file="$(find lane_detection)/config/setup.yaml" />
    </node> -->

    <!-- run2.py -->
    <node pkg="lane_detection" type="run2.py" name="lane_detector_node" output="screen">
        <rosparam command="load" file="$(find lane_detection)/config/setup.yaml" />
    </node>

    <!-- lane_change_checker
    <node pkg="lane_detection" type="lane_change_checker.py" name="lane_change_checker" output="screen" /> -->

    <!-- <node pkg="lane_detection" type="cur_lane_detector.py" name="cur_lane_detector" output="screen">
        <rosparam command="load" file="$(find lane_detection)/config/cur_lane_detector.yaml" />
    </node> -->
</launch>
